<!doctype html>
  <html>
    <head>
      <title>Angular Practice</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <h2>App Component</h2>
      <app-interpolation></app-interpolation> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-property-binding></app-property-binding> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-class-binding></app-class-binding> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-style-binding></app-style-binding> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
    </body>
  </html>