<!doctype html>
  <html>
    <head>
      <title>Angular Practice</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <h2>{{title}}</h2>
      <app-interpolation></app-interpolation> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-property-binding></app-property-binding> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-class-binding></app-class-binding> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-style-binding></app-style-binding> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-event-binding></app-event-binding> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-template-reference-variables></app-template-reference-variables> 
      <app-two-way-binding></app-two-way-binding> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-ng-if-directive></app-ng-if-directive> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-ng-switch-directive></app-ng-switch-directive> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-ng-for-directive></app-ng-for-directive> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-component-interaction-from-parent-to-child [passedName]="name"></app-component-interaction-from-parent-to-child> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-component-interaction-from-child-to-parent (childEvent)="displayChildEvent ($event)"></app-component-interaction-from-child-to-parent> <!-- As all the child component of a module will be nested inside the "Root Component" or "App Component" of that module-->
      <app-pipes></app-pipes>
      <app-services-and-http></app-services-and-http>
      <app-http-and-observables></app-http-and-observables>
      <app-error-handling></app-error-handling>
    </body>
  </html>